<h1>{{title}}</h1>
{{#each results}}
  <h2>{{this.Title}}</h2>
  <p><strong>Movie ID:</strong> {{this.Movie_ID}}</p>
  <p><strong>Genre:</strong> {{this.Genre}}</p>
  <p><strong>Year:</strong> {{this.Year}}</p>
  <p><strong>Director:</strong> {{this.Director}}</p>
  <hr>
{{/each}}
